<main fxLayout="row wrap">
    <ng-container *ngFor="let item of items; let i = index;">
        <section class="recourse" [ngClass]="{'is-expanded': item.enabledDetail}" fxLayout="column"
            *ngIf="handleSectionEnabled(item)" fxLayoutAlign="center center">
            <div class="close-section" (click)="closeDetail()">&times;</div>
            <div *ngIf="item.enabledDetail === false">
                <div (click)="handleEnabledDetail(item)" fxLayout="column" fxLayoutAlign="center center">
                    <img [src]="item.img" [ngStyle]="getFilterShadow(item.id)" alt="img">
                    <app-label-subtitle [text]="item.text"></app-label-subtitle>
                </div>
            </div>

            <div *ngIf="item.enabledDetail" class="teste">
                <app-detail-certificate [recourse]="item" [certificateInfo]="getCertificatesByRecourse(item.id)"></app-detail-certificate>
            </div>
        </section>
    </ng-container>
</main>