img {
    width: 30vh;
    opacity: 0.9;
    filter: drop-shadow(0 0 0.9rem #29274c);

    @media (max-width:801px) {
        width: 10vh;
    }
}

mat-icon {
    cursor: pointer;
}

.recourse {
    width: 50%;

    // div com texto dos certificados
    &:nth-child(2) {
        // background: #f0f0f5;
        padding: 40px;
        color: #FFFF;
        border: 1px solid black;
        overflow: hidden;
        background-color: rgba(83, 83, 83, 0.1);
    }
}
