<main fxLayout="row" fxLayout.xs="column" fxFill>
  <div class="recourse" [ngStyle]="{'background-color': color}" fxLayout="column" fxLayoutAlign="center center"
    fxLayoutGap="50">
    <img [src]="img" alt="img">
  </div>
  <div class="recourse" fxLayout="column" fxLayoutGap="50">
    <app-label text="2022" size="3vh"></app-label>
    <app-label text="Alura" size="4vh" color="#F3BB41"></app-label>
    <div fxLayout="row" fxLayoutGap="100">
      <app-label [text]="certificateInfo.name" size="2vh"></app-label>
      <mat-icon>download</mat-icon>
    </div>
  </div>
</main>