img {
    width: 30vh;
    opacity: 0.9;
    filter: drop-shadow(0 0 0.9rem #29274c);

    @media (max-width:801px) {
        width: 20vh;
    }
}

mat-icon {
    cursor: pointer;
}

.recourse {
    @media screen and (max-width: 649px) {
        width: 100%;
        height: 50vh;
    }

    @media screen and (min-width: 650px) {
        width: 50%;
        height: 80vh;
    }

    // div com texto dos certificados
    &:nth-child(2) {
        // background: #f0f0f5;
        padding: 40px;
        color: #FFFF;
        border: 1px solid black;
        overflow: hidden;
        background-color: rgba(83, 83, 83, 0.1);
    }
}