<main fxLayout="row" fxLayout.xs="column" fxFill>
  <div class="recourse" [ngStyle]="{'background-color': color}" fxLayout="column" fxLayoutAlign="center center"
    fxLayoutGap="50">
    <img [src]="img" alt="img">
  </div>
  <div class="recourse" fxLayout="column" fxLayoutGap="50">
    okkk
  </div>
</main>

<!-- <main class="main">
    <section class="section">
      <div class="close-section">&times;</div>
      <div class="demo-box">Section 1</div>
    </section>
    <section class="section">
      <div class="close-section">&times;</div>
      <div class="demo-box">Section 2</div>
    </section>
    <section class="section">
      <div class="close-section">&times;</div>
      <div class="demo-box">Section 3</div>
    </section>
    <section class="section">
      <div class="close-section">&times;</div>
      <div class="demo-box">Section 4</div>
    </section>
  </main> -->