@import url(//fonts.googleapis.com/css?family=Montserrat);

.main {
    background-color: #13131f;
    margin: 0;
    height: auto;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;

    #title-h2 {
        // position: absolute;
        // top: 90px;
        width: 60rem;
        color: #FFFF;
        text-shadow: rgb(31, 31, 31) 0.1em 0.1em 0.2em;

        @media (max-width:800px) {
            width: 22rem;
        }
    }

    #title-h2-sub {
        // position: absolute;
        // top: 300;
        color: #FFFF;
        width: 35%;
        text-shadow: rgb(31, 31, 31) 0.1em 0.1em 0.2em;

        @media (max-width:800px) {
            width: 60%;
        }
    }

    h2 {
        font-size: 3.2em;
        background-color: #1fb8ab;

        // white
        @media (min-width:1025px) {
            font-size: 6em;
        }
    }

    h3 {
        text-align: start;
        font-size: 1.2em;
        color: #0C0B0B;

        @media (min-width:1025px) {
            font-size: 2em;
            color: #0C0B0B;
        }
    }

    span {
        font-size: 1.5em;
        color: #54544E;
    }
}

.items_page {
    justify-content: center;
    display: flex;
}

.teste {
    border: 1px solid black;
    overflow: hidden;
}

.img {
    width: 100%;
}

.mobileprojects {
    align-items: center;
    background-color: #008080;
    cursor: pointer;
}

.webmonsprojects {
    align-items: center;
    cursor: pointer;
}

.webmonsprojects_style {
    background-color: #19437D;
}

.backendmonsprojects {
    align-items: center;
    background-color: #E95420;
    cursor: pointer;
}

.backendmonsprojects_style {
    background-color: #E95420;
}


.flip {
    position: relative;

    >.front,
    >.back {
        // display: block;
        transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
        transition-duration: .5s;
        transition-property: transform, opacity;
    }

    >.front {
        transform: rotateY(0deg);
    }

    >.back {
        position: absolute;
        opacity: 0;
        top: 0px;
        left: 0px;
        width: 80%;
        height: 80%;
        transform: rotateY(-180deg);
    }

    &:hover {
        >.front {
            transform: rotateY(180deg);
        }

        >.back {
            opacity: 1;
            transform: rotateY(0deg);
        }
    }

    &.flip-vertical {
        >.back {
            transform: rotateX(-180deg);
        }

        &:hover {
            >.front {
                transform: rotateX(180deg);
            }

            >.back {
                transform: rotateX(0deg);
            }
        }
    }
}

#div-info-head {
    span {
        color: #FFFF;
    }

    .span-title {
        margin-left: 10px;
        margin-top: 3%;
        margin-bottom: 8%;
        font-size: 2.5rem;
        line-height: 1;

        @media (max-width:1166px) {
            font-size: 2rem;
        }

        @media (max-width:730px) {
            font-size: 1.6rem;
        }
    }

}

#div-head {
    hr {
        margin: 2rem 1rem;
        width: 30%;
        color: #FFFF
    }
}

#div-group-projects {
    padding: 1rem;
    // min-height: calc(100vh - 180px);
}

.frontmons {
    background-color: #00a0a0;
    // background-image: linear-gradient(62deg, #00a0a0 80%, #F0F0F0  100%);
}

.mobilemons {
    background-color: #006666;
    // background-image: linear-gradient(62deg, #006666 80%, #F0F0F0 100%);
}

.backmons {
    background-color: #202020;
    // background-image: linear-gradient(62deg, #202020 80%, #F7CE68 100%);

}

#div-image {
    margin: 0;

    img {
        display: block;
        margin: 0px auto;
        margin: 0;
        height: 30.2rem;
        border-radius: 5%;

        @media (min-width:1556px) {
            height: 27.2rem;
        }

        @media (max-width:1626px) {
            height: 80.2rem;
        }

        @media (min-width:2031px) {
            height: 50.2rem;
        }
    }

}

.teste {
    padding: 20px;
    margin-top: 10px;
    background-color: rgba(83, 83, 83, 0.1);
    border-radius: 30px;
}

.search-project {
    padding-bottom: 50px;
    width: 40%;
    float: right;
    place-content: stretch flex-end;
    margin-right: 10%;

    @media (max-width:540px) {
        margin-left: 0px;
        width: 80%;
        margin-right: 15%;
        place-content: start flex-start;
    }
}

.form-control {
    font-size: 1.4rem;
    text-align: center;
    width: 100%;
    display: flex;
    padding: 15px;

    background-color: white;
    border: 2px solid black;
    color: black;
    box-shadow: 3px 1px 0px 2px, 0px -1px 0px 2px rgba(0, 0, 0, 0.62);
    // border-radius: 5px;
    height: 10%;
    transform: skew(-1deg, 0deg);
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;

    @media (max-width:800px) {
        font-size: 0.9rem;
    }

    &:focus,
    &:valid {
        outline: none;

        ~ul li {
            @for $i from 1 through 6 {
                &:nth-child(#{$i}) {
                    &::before {
                        filter: blur(20px);
                        transform: translate(0, -35px) rotate(-210deg);
                    }

                    &::after {
                        filter: blur(0);
                        transform: scale(1) rotate(0);
                    }
                }
            }

            @for $i from 1 through 6 {
                &:nth-child(#{$i}) {
                    &::after {
                        transition-delay: 200ms + ($i * 200ms);
                    }
                }
            }
        }
    }
}