@font-face {
    font-family: poppinsRegular;
    src: url("/assets/fonts/POPPINS-REGULAR.TTF") format("truetype");
}

@font-face {
    font-family: poppinsMedium;
    src: url("/assets/fonts/POPPINS-MEDIUM.TTF") format("truetype");
}

@font-face {
    font-family: poppinsMedium;
    src: url("/assets/fonts/POPPINS-BOLD.TTF") format("truetype");
}