<div fxLayout="row" fxLayout.xs="column">
    <div fxFlex="50" class="mb20">
        <app-info-project-container text="{{_text}}" info_title="{{_info_title}}"></app-info-project-container>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20">
        <app-card-with-image-container image="{{_imagesProject[0]}}" text="{{_textsProjects[0]}}"></app-card-with-image-container>
        <app-card-with-image-container image="{{_imagesProject[1]}}" text="{{_textsProjects[1]}}"></app-card-with-image-container>
        <app-card-with-image-container image="{{_imagesProject[2]}}" text="{{_textsProjects[2]}}" class="mb20"></app-card-with-image-container>
    </div>

</div>