<div class="main">
  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20">
    <div class="container-space">
      <form>
        <div [formGroup]="form">
          <div class="row mb20">
            <span class="title-span">{{ contactMe }}</span>
          </div>

          <div class="form-row">
            <div class="mb10">
              <mat-label>{{ formDescription.name }}: </mat-label>
              <input
                type="text"
                formControlName="name"
                matInput
                autocomplete="off"
                required
              />
            </div>

            <div class="mb10">
              <mat-label>{{ formDescription.emailAddress }}: </mat-label>
              <input
                type="text"
                formControlName="name"
                matInput
                autocomplete="off"
                required
              />
            </div>

            <div class="mb10">
              <mat-label>{{ formDescription.subjectContact }}: </mat-label>
              <input
                type="text"
                formControlName="name"
                matInput
                autocomplete="off"
                required
              />
            </div>

            <div class="mb10">
              <mat-label>{{ formDescription.messageContact }}: </mat-label>
              <textarea class="form-control" rows="6" style="resize: none">
              </textarea>
            </div>
            <div fxLayout="row" fxLayoutAlign="end end">
              <button
                type="button"
                class="btn fixed-bottom mb10"
                mat-raised-button
                color="primary"
              >
                {{ btnSendMessage }}
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div
      class="container-space"
      fxLayout="column"
    >
      <div class="row">
        <span class="title-span">{{ labelMap }}</span>
      </div>
      <div class="row mt10">
        <app-map></app-map>
      </div>
    </div>
  </div>
</div>
