<div class="main">
  <div class="main-body" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="50">
    <div fxLayout="column" fxLayoutAlign="right" class="container-space">
      <form>
        <div fxLayout="column" [formGroup]="form">
          <app-label [text]="contactMe" color="white" class="mb50 mt40" size="1.5em"></app-label>

          <send-message-contact-container msgButton="Enviar Mensagem" [data]="itensSendEmail"></send-message-contact-container>
        </div>
      </form>
    </div>
    <div fxLayout="column" fxLayoutAlign="center" class="container-space">
      <app-label [text]="labelMap" color="white" class="mb10 mt20" size="1.5em"></app-label>
      <app-map></app-map>
      <div class="mb20"></div>
    </div>
  </div>
  <app-footer></app-footer>
</div>