.main {
  // background-image: linear-gradient(to right, rgba(255, 0, 0, 0), #dbd5d5);
  background-color: #13131f;
}

.main-body {
  padding: 20px !important;
  min-height: 90vh;
}

.container-space {
  color: black;
  padding: 2%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: rgba(83, 83, 83, 0.1);
  border-radius: 30px;
  width: 100%;
  min-height: 100%;

  @media (min-width:590px) {
    min-height: 40rem;
  }
}

.title-span {
  font-size: 1em;
  font-weight: 300;
  line-height: 3em;
  text-align: center;
  color: #383838;
  text-shadow: 0.2vh 0.2vh #f0f0f5;
}

.btn {
  cursor: pointer;
}