.background {
    background-color: #13131f;
    padding: 40px;
    -webkit-overflow-scrolling: touch;
}

#div-progress-wrapper {
    position: relative;
    width: 10rem;
}

.current {
    position: absolute;
    color: #bbb;
    font-weight: 100;
    line-height: 1;
}

round-progress {
    margin: auto;
}

mat-card {
    max-width: 30vh;

    @media (max-width:900px) {
        max-width: auto;
    }
}

#group-images {
    width:  auto;
    display: flex;
    border-radius: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: rgba(83, 83, 83, 0.1);
    padding: 2%;
    margin-bottom: 20px;
    overflow-x: auto;
}

#group-images::-webkit-scrollbar{
    width:0;
}

app-button {
    width: 15%;

    @media (max-width:900px) {
        width: 100%;
    }
}

#container {
    margin: 20px;
    width: 200px;
    height: 100px;
}

.icon {
    color: black
}