.background {
    background-color: #F6F6F6;
    padding: 40px;
}

.progress-wrapper {
    position: relative;
    width: 10rem;
}

.current {
    position: absolute;
    color: #bbb;
    font-weight: 100;
    line-height: 1;
}

round-progress {
    margin: auto;
}

mat-card {
    width: 20rem;
}

#group-images {
    width:  100%;
    border-radius: none;
}

.teste{
    background-color: white;
}

app-button {
    width: 40%;
    align-self: center;

    @media (max-width:900px) {
        width: 100%;
    }
}

#container {
    margin: 20px;
    width: 200px;
    height: 100px;
}

.icon {
    color: black
}