<main fxLayout="row" fxLayout.xs="column" fxFill>
  <div class="recourse" [ngStyle]="{'background-color': color}" fxLayout="column" fxLayoutAlign="center center"
    fxLayoutGap="50">
    <img [src]="img" alt="img" preload>
  </div>
  <div class="recourse">
    <div fxLayoutGap="40" fxLayout="column">
      <section *ngFor="let year of years">
        <div fxLayout="row" class="mb20">
          <app-label [text]="year" size="3vh" color="#F3BB41"></app-label>
        </div>
        <div *ngFor="let item of certificateInfo">
          <div *ngIf="item.technology === recourse.id && item.year.toString() === year">
            <div fxLayout="row" fxLayoutGap="10" class="mb10">
              <app-label [text]="item.educationInstitution + ':' | capitalizeFirstLetter " color="#F3BB41"
                size="2vh"></app-label>
              <app-label [text]="item.name" size="2vh"></app-label>
              <mat-icon (click)="redirectLinkCertificate(item)">download</mat-icon>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</main>