<div fxLayout="column" fxLayoutWrap fxLayoutGap="1rem" fxLayoutAlign="center" class="style_square">
    <div fxFlex.gt-sm="60%" class="mt20 ml20 icon-g">
        <div [ngSwitch]="_icon">
            <!-- Recourse -->
            <svg *ngSwitchCase="_icon_recourses" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
                <title>coding</title>
                <g id="coding">
                    <path d="M55,13H3V38a3,3,0,0,0,3,3H8V35a1,1,0,0,1,1-1H27a1,1,0,0,1,1,1v6H58a3,3,0,0,0,3-3V13Z"
                        style="fill:#00e7f0" />
                    <path d="M58,5H6A3,3,0,0,0,3,8v5H61V8A3,3,0,0,0,58,5Z" style="fill:#898890" />
                    <path d="M27,34H9a1,1,0,0,0-1,1V60a1,1,0,0,0,1,1H27a1,1,0,0,0,1-1V35A1,1,0,0,0,27,34Z"
                        style="fill:#a78966" />
                    <rect x="57" y="37" width="2" height="2" />
                    <rect x="54" y="37" width="2" height="2" />
                    <rect x="57" y="34" width="2" height="2" />
                    <path
                        d="M58,4H6A4,4,0,0,0,2,8V38a4,4,0,0,0,4,4H7V60a2,2,0,0,0,2,2H27a2,2,0,0,0,2-2V42H58a4,4,0,0,0,4-4V8A4,4,0,0,0,58,4ZM6,6H58a2,2,0,0,1,2,2v4H4V8A2,2,0,0,1,6,6ZM9,60V35H27V60ZM58,40H29V35a2,2,0,0,0-2-2H9a2,2,0,0,0-2,2v5H6a2,2,0,0,1-2-2V14H60V38A2,2,0,0,1,58,40Z" />
                    <rect x="6" y="8" width="2" height="2" />
                    <rect x="9" y="8" width="2" height="2" />
                    <rect x="12" y="8" width="2" height="2" />
                    <path d="M48.445,9.832l3,2,1.11-1.664L50.8,9l1.752-1.168-1.11-1.664-3,2a1,1,0,0,0,0,1.664Z" />
                    <path d="M55.555,11.832l3-2a1,1,0,0,0,0-1.664l-3-2-1.11,1.664L56.2,9l-1.752,1.168Z" />
                    <path d="M12.293,15.293l-6,6a1,1,0,0,0,0,1.414l6,6,1.414-1.414L8.414,22l5.293-5.293Z" />
                    <path d="M19.707,15.293l-1.414,1.414L23.586,22l-5.293,5.293,1.414,1.414,6-6a1,1,0,0,0,0-1.414Z" />
                    <rect x="32" y="15" width="10" height="2" />
                    <rect x="32" y="18" width="5" height="2" />
                    <rect x="32" y="21" width="11" height="2" />
                    <rect x="44" y="21" width="5" height="2" />
                    <rect x="32" y="36" width="11" height="2" />
                    <rect x="44" y="36" width="5" height="2" />
                    <rect x="38" y="18" width="5" height="2" />
                    <rect x="32" y="24" width="11" height="2" />
                    <rect x="44" y="24" width="8" height="2" />
                    <rect x="32" y="33" width="11" height="2" />
                    <rect x="44" y="33" width="8" height="2" />
                    <rect x="32" y="27" width="11" height="2" />
                    <rect x="44" y="27" width="8" height="2" />
                    <rect x="32" y="30" width="8" height="2" />
                    <rect x="53" y="27" width="5" height="2" />
                    <rect x="41" y="30" width="5" height="2" />
                    <path
                        d="M19,45h3V43H16V41h2V39H13V36H11v4a1,1,0,0,0,1,1h2v3a1,1,0,0,0,1,1h2v4a1,1,0,0,0,1,1h7V48H19Z" />
                    <path d="M16,54h2V52H13V49H11v4a1,1,0,0,0,1,1h2v3a1,1,0,0,0,1,1H25V56H16Z" />
                </g>
            </svg>
            <!-- Goal -->
            <svg *ngSwitchCase="_icon_goals" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                <defs>
                    <style>
                        .cls-1 {
                            fill: #fd3730;
                        }

                        .cls-2 {
                            fill: #eaeff0;
                        }

                        .cls-3 {
                            fill: #2d4a60;
                        }

                        .cls-4 {
                            fill: #fac100;
                        }
                    </style>
                </defs>
                <title>Target</title>
                <g id="Target">
                    <circle class="cls-1" cx="16" cy="16" r="14" />
                    <circle class="cls-2" cx="16" cy="16" r="11" />
                    <circle class="cls-1" cx="16" cy="16" r="8" />
                    <circle class="cls-2" cx="16" cy="16" r="5" />
                    <path class="cls-3"
                        d="M24.782,7.218a1,1,0,0,0-1.415,0l-8.074,8.075a1,1,0,1,0,1.414,1.414l8.075-8.074a1,1,0,0,0,0-1.415Z" />
                    <path class="cls-4"
                        d="M24,10a2,2,0,0,1-2-2V6.414A1.986,1.986,0,0,1,22.586,5L24.8,2.784a1.5,1.5,0,0,1,2.4.39l.54,1.081,1.082.54a1.5,1.5,0,0,1,.389,2.4L27,9.414A1.986,1.986,0,0,1,25.586,10Z" />
                </g>
            </svg>
            <!-- Next Steps -->
            <svg *ngSwitchCase="_icon_next_steps" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                y="0px" viewBox="0 0 520 520" style="enable-background:new 0 0 520 520;" xml:space="preserve">
                <g id="_x32_63_x2C__Apparatus_x2C__Chemical_x2C__Lab_Test_x2C__Laboratory_Test">
                    <g>
                        <path style="fill:#D8F2F1;" d="M220,50v120L50,220V50H220z" />
                        <path style="fill:#D8F2F1;" d="M470,50v200l-170,50V50H470z" />
                        <path style="fill:#80AF52;"
                            d="M470,250v115c0,46.94-38.06,85-85,85s-85-38.06-85-85v-65L470,250z" />
                        <path style="fill:#EF727A;"
                            d="M220,170v195c0,46.94-38.06,85-85,85s-85-38.06-85-85V220L220,170z" />
                        <circle style="fill:#60833E;" cx="430" cy="300" r="10" />
                        <circle style="fill:#60833E;" cx="420" cy="350" r="10" />
                        <circle style="fill:#60833E;" cx="390" cy="390" r="20" />
                        <circle style="fill:#60833E;" cx="360" cy="340" r="10" />
                        <g>
                            <circle style="fill:#A2B6B5;" cx="430" cy="120" r="10" />
                            <circle style="fill:#A2B6B5;" cx="430" cy="210" r="10" />
                            <circle style="fill:#A2B6B5;" cx="395" cy="165" r="15" />
                            <circle style="fill:#A2B6B5;" cx="380" cy="220" r="20" />
                            <circle style="fill:#A2B6B5;" cx="345" cy="115" r="15" />
                            <circle style="fill:#A2B6B5;" cx="340" cy="170" r="10" />
                        </g>
                        <circle style="fill:#B3565C;" cx="180" cy="300" r="10" />
                        <circle style="fill:#B3565C;" cx="170" cy="240" r="10" />
                        <circle style="fill:#A2B6B5;" cx="160" cy="130" r="10" />
                        <circle style="fill:#B3565C;" cx="155" cy="355" r="15" />
                        <circle style="fill:#B3565C;" cx="150" cy="410" r="10" />
                        <circle style="fill:#A2B6B5;" cx="140" cy="90" r="10" />
                        <circle style="fill:#B3565C;" cx="120" cy="270" r="20" />
                        <circle style="fill:#A2B6B5;" cx="110" cy="140" r="20" />
                        <circle style="fill:#B3565C;" cx="100" cy="380" r="10" />
                        <circle style="fill:#B3565C;" cx="90" cy="320" r="10" />
                        <path style="fill:#A2B6B5;" d="M480,60H290c-5.523,0-10-4.477-10-10s4.477-10,10-10h190c5.522,0,10,4.477,10,10S485.522,60,480,60
			z" />
                        <path style="fill:#A2B6B5;" d="M230,60H40c-5.523,0-10-4.477-10-10s4.477-10,10-10h190c5.523,0,10,4.477,10,10S235.523,60,230,60z
			" />
                        <path style="fill:#B3B3B3;" d="M260,500c-5.523,0-10-4.478-10-10V30c0-5.523,4.477-10,10-10c5.522,0,10,4.477,10,10v460
			C270,495.522,265.522,500,260,500z" />
                        <path style="fill:#808080;" d="M490,500H30c-5.523,0-10-4.478-10-10v-70c0-5.522,4.477-10,10-10s10,4.478,10,10v60h440v-60
			c0-5.522,4.477-10,10-10c5.522,0,10,4.478,10,10v70C500,495.522,495.522,500,490,500z" />
                    </g>
                </g>
                <g id="Layer_1">
                </g>
            </svg>
            <!-- Default -->
            <svg *ngSwitchDefault xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                class="w-6 h-6">
                <path fill-rule="evenodd"
                    d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75H12a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z"
                    clip-rule="evenodd" />
            </svg>

        </div>
    </div>
    <div fxFlex.gt-sm="10%" class="ml20">
        <span>{{_itemTitle}}</span>
    </div>
    <div fxFlex.gt-sm="10%" class="ml20" fxLayout="column">
        <div *ngFor="let item of itemSubtitle">
            {{item}}
        </div>
    </div>
</div>