app-certificates-body {
    min-height: 80vh;
    padding: 20px;
    display:inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
}

div {
    background-color: #13131f;
    margin-top:2.3vh;
}

.main {
    margin: 0;
    margin-top:5vh;
    padding: 0;
    min-height: 90vh;
}