<div>
    <div class="divider">
        <div>
            <div class="divider">
                <span style="color: white" class="circleText"><strong style="color: #202020">Mat</strong>DevFolio&lt;/&gt;</span>
            </div>
        </div>
        <div fxLayout="column">
            <div fxLayoutGap="10" fxLayout="row wrap" fxLayoutAlign="center center">
                <div fxFlex="10">
                    ok isso é um teste
                </div>
                <div fxFlex="10">
                    Ok isso é um, teste
                </div>
                <div fxFlex="10" fxLayout="column">
                   teste
                </div>
                <div fxFlex="10" fxLayout="column">
                    <span>Informação de Contato</span>
                    <mat-icon>mail_outline</mat-icon>mateusd.santos10@gmail.com
                    <mat-icon>mail_outline</mat-icon>mateusd.santos10@gmail.com
                </div>
            </div>
        </div>
    </div>
</div>