<div class="pb20">
    <div class="mb20 divider">
        <span style="color: white" class="circleText">
            <app-logo-text></app-logo-text>
        </span>
    </div>
    <div class="ml20" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center"  fxLayoutAlign.xs="right right" fxLayoutGap="20" fxLayoutGap.xs="25">
        <div fxLayout="column" fxLayoutGap="15" fxLayoutGap.xs="5">
            <div fxLayout="row">
                <strong>Quem sou eu?</strong>
            </div>
            <div fxLayout="row">
                Link sobre meu perfil
            </div>
        </div>
        <div fxLayout="column" fxLayoutGap="15" fxLayoutGap.xs="5">
            <div fxLayout="row">
                <strong>Veja mais na árvore de habilidades</strong>
            </div>
            <div fxLayout="row">
                Link para página de skills
            </div>
        </div>
        <div fxLayout="column" fxLayoutGap="15" fxLayoutGap.xs="5"> 
            <div fxLayout="row">
                <strong>Informação de Contato</strong>
                <mat-icon class="ml10">mail_outline</mat-icon>
            </div>
            <div fxLayout="row">
                mateusd.santos10@gmail.com
            </div>
        </div>
    </div>
</div>