div {
    background-color: #13131f;
}

mat-label {
    color: whitesmoke;
}

#main {
    height: auto;
    padding-bottom: 2rem;
}

.circleText {
    padding: 10px;
    border: 1px solid whitesmoke;
    border-radius: 50px;
}

.divider {
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    padding-top: 3vh;
}

.divider>span {
    position: relative;
    display: inline-block;
}

.divider>span:before,
.divider>span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: whitesmoke;
}

.divider>span:before {
    right: 100%;
    margin-right: 15px;
}

.divider>span:after {
    left: 100%;
    margin-left: 15px;
}

strong {
    color: white;
}

mat-icon {
    color: #FFFF;
}

span {
    color: whitesmoke;
}