div {
    background-color: #1fb8ab;
}

#main {
    height: 15vh;
    padding-bottom: 2rem;
}

.circleText {
    padding: 10px;
    border: 1px solid #202020;
    border-radius: 50px;
}

.divider {
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    padding-top: 3vh;
}

.divider>span {
    position: relative;
    display: inline-block;
}

.divider>span:before,
.divider>span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: #202020;
}

.divider>span:before {
    right: 100%;
    margin-right: 15px;
}

.divider>span:after {
    left: 100%;
    margin-left: 15px;
}