textarea,
input {
    border: none;
    border-bottom: 3px solid #13131f;
    background-color: transparent;
    padding-top: 10px !important;
    width: 100%;
}

.textaarea.ng-touched {
    border-bottom: 3px solid #f44336;
}

.invalid {
    color: red;
}