<main>
    <form *ngIf="formSendEmail" [formGroup]="formSendEmail">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="15" fxLayoutAlign="right">
            <div fxFlex="60">
                <input-text-component [label]="data[0].label" controlName="name"
                    [placeholder]="data[0].placeholder"></input-text-component>
            </div>
            <div fxFlex="50">
                <input-text-component [label]="data[1].label" controlName="email"
                    [placeholder]="data[1].placeholder"></input-text-component>
            </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="15" fxLayoutAlign="right">
            <div fxFlex="100">
                <input-text-component [label]="data[2].label" controlName="subject"
                    [placeholder]="data[2].placeholder"></input-text-component>
            </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="15" fxLayoutAlign="right">
            <div fxFlex="100">
                <p class="formfield">
                    <label for="textarea" style="color: white">{{data[3].label}} <span id="valid-textarea"
                            [ngClass]="{'invalid': formSendEmail.invalid && formSendEmail.touched}">*</span></label>
                    <textarea class="mt10" formControlName="message"
                        [ngClass]="{'textaarea': formSendEmail.invalid && formSendEmail.touched}" matInput
                        style="height: 15VH; color: white; resize: none;"></textarea>
                </p>
            </div>
        </div>
        <div fxLayout="column" fxLayout.xs="column" fxLayoutGap="10">
            <app-button [loading]="loadingSendEmail" [label]="msgButton" (click)="sendMessage()" [disabled]="formSendEmail.invalid"></app-button>
        </div>
    </form>
</main>