mat-card {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 10px;
    height: 24em;
    width: 20em;


    // @media (max-width:920px) {
    //     height: 350px;
    //     width: calc(100vh - 650px);
    // }


    // @media (max-width:1400px) {
    //     height: 350px;
    // }

    // @media (min-width:1600px) {
    //     height: 20rem;
    // }
}
