img {
    height: content; //so that it takes up full space
    max-height: 50rem !important; // this prevents the image from being extremely big
    min-height: 12rem !important; // this pre
    object-position: center;
    height: 10px;

    @media (max-width:900px) {
        height: auto;
        // object-fit: cover;
    }
}