.title {
    align-items: center;
    // justify-content: center;
    position: relative;
    font-size: 8rem;
    line-height: 0.8;

    @media (max-width:801px) {
        font-size: 2.7rem;
    }

    // position: absolute;
    // top: 90px;
    width: 50rem;
    color: #FFFF;
    text-shadow: rgb(31, 184, 171) 0.1em 0.1em 0.2em;

    @media (max-width:800px) {
        width: 22rem;
    }
}