/* You can add global styles to this file, and also import other style files */
@import url(//fonts.googleapis.com/css?family=Montserrat);

@import "./styles/main.scss";

/* All */
.w100 {
  width: 100%;
}

.mt10 {
  margin-top: 10px !important;
}

.pt10 {
  padding-top: 10px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mt40 {
  margin-top: 40px !important;
}

.mt50 {
  margin-top: 50px !important;
}

.mt80 {
  margin-top: 80px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mb15 {
  margin-bottom: 15px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mb36 {
  margin-bottom: 36px !important;
}

.mb50 {
  margin-bottom: 50px !important;
}

.mb60 {
  margin-bottom: 60px !important;
}

.mb80 {
  margin-bottom: 80px !important;
}

.mr24 {
  margin-right: 24px !important;
}

.mr10 {
  margin-right: 10px !important;
}

.mr15 {
  margin-right: 15px !important;
}

.ml10 {
  margin-left: 10px !important;
}

.ml15 {
  margin-left: 15px !important;
}

.ml20 {
  margin-left: 20px !important;
}

.mr20 {
  margin-right: 20px !important;
}

.pt0 {
  padding-top: 0px !important;
}

.pt20 {
  padding-top: 20px !important;
}

.pt40 {
  padding-top: 40px !important;
}

.pb20 {
  padding-bottom: 20px !important;
}

.pt100 {
  padding-top: 100px !important;
}

.pb40 {
  padding-bottom: 40px !important;
}

.pl20 {
  padding-left: 20px !important;
}

.pl40 {
  padding-left: 40px !important;
}

.pr20 {
  padding-right: 20px !important;
}

.pr40 {
  padding-right: 40px !important;
}

.pt200 {
  padding-top: 200px !important;
}

.pb20 {
  padding-bottom: 20px !important;
}

html,
body {
  height: 100%;
}

body {
  // background-image:url("assets/images/background.webp");
  margin: 0;
  
  font-family: 'Montserrat', sans-serif;
}

.main {
  // margin: 0 40px;
  margin: 0px;
  // background-image: linear-gradient(to bottom, #f5f5f5, #dbd5d5);
  // height: 90vh;

  @media screen and (max-width: 700px) {
    margin: 0px;
  }
}

.main::after {
  // background-image: url("assets/images/background.jpg");
  z-index: -1;
  opacity: 0.5;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  content: "";
}

.mat-toolbar {
  position: relative;
  z-index: 2;
}

.mat-simple-snackbar-action {
  color: var(--color-primary);
}

mat-card {
  border-radius: 15px !important;
}

.leaflet-popup-content {
  max-width: 500px;
}

//drag and drop
.dragDrop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: 80px 80px;
  background-color: #ffff;
  background-repeat: no-repeat;
  background-position: top;
  border: 2px dashed #858585;
  width: 100%;
  height: 316px;
  margin: 20px auto;
  // box-shadow: 0px 3px 6px #00000029 !important;
  border-radius: 8px;
  min-width: 400px;
}

.content-dropzone {
  text-align: center;
  color: black;
}

.dragDrop {
  width: 100%;
  min-width: 300px !important;
}

.material-icons.color_green {
  color: #1fb8ab;
}

.material-icons.color_white {
  color: #FFFFFF;
}