div {
    background-color: #008080;
    min-height: 15vh;

    img {
        position: relative;
        top: 2em;

        @media (max-width:480px) {
            width: 40%;
            /* you can use % */
            height: auto;
        }

        @media (max-width:801px) {
            width: 30%;
            /* you can use % */
            height: auto;
        }

        @media (max-width:801px) {
            width: 30%;
            /* you can use % */
            height: auto;
        }
    }
}