div {
    margin: 0;
    padding: 0;
    background-color: #13131f;
    scroll-behavior: smooth;
}

#spinner {
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: calc(100vh - 5vh);
}